{% extends '@SheikhuLibrary/layout.html.twig' %}

    {% block content -%}

        {% embed '@SheikhuLibrary/Embed/grid.html.twig' with { size: 6} %}

            {% block title %}
                Liste des prêts
            {% endblock %}

            {% block grid_content %}
                <table class="mws-table filterable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date pret</th>
                        <th>Date de retour prevue</th>
                        <th>Date retour</th>
                        <th>Etat</th>
                        <th>Membre</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('prets_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{% if entity.datePret %}{{ entity.datePret|date('d/m/Y') }}{% endif %}</td>
                            <td>{% if entity.dateRetourPrevue %}{{ entity.dateRetourPrevue|date('d/m/Y') }}{% endif %}</td>
                            <td>{% if entity.dateRetour %}{{ entity.dateRetour|date('d/m/Y') }}{% endif %}</td>
                            <td>
                                <span class="label label-default">{{ entity.etat }}</span>
                            </td>
                            <td>
                                {{ entity.membre.fullName }}
                            </td>
                            <td>
                                <div class="btn-group">
                                    {{ macros.link_icon('Show', 'prets_show', { 'id': entity.id }, 'search') }}
                                    {{ macros.link_icon('Edit', 'prets_edit', { 'id': entity.id },'edit') }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endblock %}

        {% endembed %}

    {% endblock %}
