{% macro link_icon(title, path, params, icon) %}

{% set href = path(path|default('#'), params) %}

<a href="{{ href }}" title="title" class="btn">
    <i class="icon-{{ icon }}"></i>
</a>
{% endmacro %}

{% macro btn_link_to(label, path, params, attr) %}
    <a href="{{ path(path, params) }}" {{ block('render_attr') }}>
    {{ label | trans }}
    </a>
{% endmacro %}

{% macro link_to(label, path, params, attr) %}
    <a href="{{ path(path, params) }}" {{ block('render_attr') }}>
    {{ label | trans }}
    </a>
{% endmacro %}

{% block render_attr %}
    {% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}
{% endblock %}

{% macro render_form(form, excluded) %}
    {% for field in form %}
        {% if field.vars.name not in excluded %}
            {{ form_row(field) }}
        {% endif %}
    {% endfor %}
{% endmacro %}