{% macro link(href, attr, icon) %}

{% set href = path(href|default('#')) %}

<a href="{{ href }}" class="btn">
    <i class="icon-edit"></i>
</a>
{% endmacro %}

{% macro btn_link_to(label, path, params, attr) %}
    <a href="{{ path(path, params) }}" {% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {{ label | trans }}
    </a>
{% endmacro %}
