{% extends '::layout.html.twig' %}
{% import '@SheikhuLibrary/Form/macros.html.twig' as macros %}
{% block title %}Accueil{% endblock %}

{% block styles %}

    {% stylesheets
    "bundles/sheikhulibrary/vendors/summernote/dist/summernote.css"
    "bundles/sheikhulibrary/mws/css/icons/icol16.css"
    "bundles/sheikhulibrary/mws/css/icons/icol32.css"
    "bundles/sheikhulibrary/mws/custom-plugins/wizard/wizard.css"
    "bundles/sheikhulibrary/mws/plugins/colorpicker/colorpicker.css"
    "bundles/sheikhulibrary/mws/css/demo.css"
    "bundles/sheikhulibrary/mws/jui/css/jquery.ui.all.css"
    "bundles/sheikhulibrary/mws/jui/jquery-ui.custom.css"
    "bundles/sheikhulibrary/mws/css/themer.css"
    "bundles/sheikhulibrary/mws/plugins/select2/select2.css"
    "bundles/sheikhulibrary/css/sheikhulibrary.css"

    filter="cssrewrite" output="css/compiled/hash-app.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
{{  parent() }}
{% endblock %}
{% block body %}
{% block themer %}
    {#% include "@SheikhuLibrary/Partials/themer.html.twig" %#}
{% endblock %}

{% block header %}
    {% include "@SheikhuLibrary/Partials/header.html.twig" %}
{% endblock %}
<div id="mws-wrapper">

        <!-- Necessary markup, do not remove -->
        <div id="mws-sidebar-stitch"></div>
        <div id="mws-sidebar-bg"></div>

        {% include '@SheikhuLibrary/Partials/sidebar.html.twig' %}

        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">

            <!-- Inner Container Start -->
            <div class="container">
            {{ helpers.flashes() }}
                {% block stats_container %}
                {% endblock %}

                {% block content %}

                {% endblock %}
            </div>
            <!-- Inner Container End -->

            <!-- Footer -->
            <div id="mws-footer">
                {% block footer %}
                    Copyright Your Website 2012. All Rights Reserved.
                {% endblock %}
            </div>

        </div>

        </div>

{% endblock %}
{% block scripts %}
    {{ parent() }}
    {% javascripts


    "@SheikhuLibraryBundle/Resources/public/mws/jui/js/jquery-ui-1.9.2.min.js"
    "@SheikhuLibraryBundle/Resources/public/mws/jui/jquery-ui.custom.min.js"
    "@SheikhuLibraryBundle/Resources/public/mws/jui/js/jquery.ui.touch-punch.js"
    "@SheikhuLibraryBundle/Resources/public/mws/plugins/datatables/jquery.dataTables.min.js"
    "@SheikhuLibraryBundle/Resources/public/mws/plugins/colorpicker/colorpicker-min.js"
    "@SheikhuLibraryBundle/Resources/public/mws/custom-plugins/wizard/wizard.min.js"
    "@SheikhuLibraryBundle/Resources/public/mws/js/core/themer.js"
    "@SheikhuLibraryBundle/Resources/public/mws/js/core/mws.js"
    "@SheikhuLibraryBundle/Resources/public/mws/js/demo/demo.widget.js"
    "@SheikhuLibraryBundle/Resources/public/mws/plugins/select2/select2.min.js"
    "@SheikhuLibraryBundle/Resources/public/mws/js/demo/demo.formelements.js"
    "@SheikhuLibraryBundle/Resources/public/vendors/summernote/dist/summernote.min.js"
    "@SheikhuLibraryBundle/Resources/public/js/*"
    output="js/compiled/hash-app.js"
    %}
    <script src="{{ asset_url }}"></script>
    {%  endjavascripts %}

    {% endblock %}
