{% extends '@SheikhuLibrary/layout.html.twig' %}

{% block content -%}


    {% embed "@SheikhuLibrary/Embed/grid.html.twig" with { size: 3} %}
        {% block  title %}
            Informations
        {% endblock %}
        {% block toolbar_bottom %}
            <div class="mws-panel-toolbar">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a href="{{ path('prets_new', {code: entity.code}) }}" class="btn">
                            <i class="icol-add"></i> Nouveau pret
                        </a>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block grid_content %}
            <ul class="mws-summary clearfix">
                <li>
                    <span class="key">Code</span>
                <span class="val">
                    <span class="text-nowrap">{{ entity.code }}</span>
                </span>
                </li>
                <li>
                    <span class="key">Nom complet</span>
                <span class="val">
                    <span class="text-nowrap">{{ entity.fullName }}</span>
                </span>
                </li>
                <li>
                    <span class="key">Date de naissance</span>
                <span class="val">
                    <span class="text-nowrap"> {{ entity.dateNaissance | date('d m Y') }}</span>
                </span>
                </li>
                <li>
                    <span class="key">Téléphone</span>
                <span class="val">
                    <span class="text-nowrap">{{ entity.telephone }}</span>
                </span>
                </li>
                <li>
                    <span class="key">Email</span>
                <span class="val">

                        <span class="text-nowrap">{{ entity.email }}</span>

                </span>
                </li>
            </ul>
        {% endblock %}
    {% endembed %}


    {% embed "@SheikhuLibrary/Embed/grid.html.twig" with { size: 5}%}
        {% block title %}Prets{% endblock %}

        {% block grid_content %}
            <table class="mws-table filterable">
                <thead>
                <tr>
                    <th>Date pret</th>
                    <th>Date retour prevue</th>
                    <th>Livres empruntés</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for pret in entity.prets if not pret.estRendu %}

                    <tr>
                        <td>{{ pret.datePret | date('d m Y') }}</td>
                        <td>{{ pret.dateRetourPrevue | date('d m Y') }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    {% for e in pret.exemplaires %}
                                        <li><a href="#">{{ e.livre.titre }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>

                        <td>
                            <div class="btn-group">
                                <a class="btn btn-success" href="{{ path('prets_retour', {id: pret.id}) }}">Retour</a>
                                <a class="btn btn-info" href="#">Prolonger</a>
                            </div>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}
