{% extends 'SheikhuLibraryBundle::layout.html.twig' %}

{% block content -%}
    {% embed "@SheikhuLibrary/Embed/grid.html.twig" with { size: 4 } %}

        {% set title = "Modification" %}

        {% block grid_content %}

            {{ form_start(edit_form) }}
            <div class="mws-form-inline">

                {{ form_row(edit_form.nom) }}

                <div class="mws-button-row">
                    {{ form_row(edit_form.submit) }}
                </div>
            </div>
            {{ form_end(edit_form) }}

        {% endblock %}

        {% block toolbar_bottom %}
            <div class="mws-panel-toolbar">
                <div class="btn-group dropup">

                    {{ form_start(delete_form) }}
                    {{ form_row(delete_form.submit, {'attr': {class: 'btn-danger'}}) }}
                    {{ form_end(delete_form) }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
