{% extends '@SheikhuLibrary/layout.html.twig' %}

{% block content -%}
    {% embed "@SheikhuLibrary/Embed/grid.html.twig" with { size: 4} %}

        {% block title %}
            Categories
        {% endblock %}

        {% block toolbar_top %}
            <div class="mws-panel-toolbar">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a href="{{ path('categories_new') }}" class="btn"><i class="icol-add"></i> Ajouter</a>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block grid_content %}

                <table id="categories-table" class="mws-table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.nom }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-default" href="{{ path('categories_show', { 'id': entity.id }) }}" title="Voir">
                                        <i class="icon-search"></i>
                                    </a>
                                    <a class="btn btn-default" href="{{ path('categories_edit', { 'id': entity.id }) }}" title="Editer">
                                        <i class="icon-edit"></i>
                                    </a>
                                </div>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

        {% endblock %}
    {% endembed %}
{% endblock %}

{% block scripts %}
{{ parent() }}
    <script>
        if( $.fn.dataTable ) {
            $("#categories-table").dataTable();

        }
    </script>
{% endblock %}
