{% extends 'SheikhuLibraryBundle::layout.html.twig' %}

{% block content -%}
    {% embed "@SheikhuLibrary/Embed/grid.html.twig" with { size: 4 } %}

        {% set title = "Categorie creation" %}

        {% block grid_content %}

            {{ form_start(form) }}
            <div class="mws-form-inline">

                {{ form_row(form.nom) }}

                <div class="mws-button-row">
                    {{ form_widget(form.submit) }}
                    {{ macros.btn_link_to('Retour à la liste', 'categories', {}, {'class': 'btn btn-info'}) }}
                </div>
            </div>
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
