<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>App</title>
</head>
<body>
<div>
    Hello {{ name }}!
</div>
<hr/>

<b>Books</b> :
<ul>
    {% for b in data %}
        <li>
            {{ b.titre }} [ {{ b.isbn }} ] dans <a href="#">{{  b.categorie.nom }}</a>
            <ul>
                <li><b>Exemplaires</b> : {{ b.exemplaires | length }} </li>
            </ul>
        </li>
    {% endfor %}
</ul>

</body>
</html>
