{% extends "@SheikhuLibrary/layout.html.twig" %}

{% block stats_container %}
    <!-- Statistics Button Container -->
    <div class="mws-stat-container clearfix">

        <!-- Statistic Item -->
        <a class="mws-stat" href="{{ path('livres') }}">
            <!-- Statistic Icon (edit to change icon) -->
            <span class="mws-stat-icon icol32-book"></span>

            <!-- Statistic Content -->
                        <span class="mws-stat-content">
                            <span class="mws-stat-title">Nombre de livres</span>
                            <span class="mws-stat-value">{{ totalLivres }}</span>
                        </span>
        </a>

        <a class="mws-stat" href="#">
            <!-- Statistic Icon (edit to change icon) -->
            <span class="mws-stat-icon icol32-arrow-up"></span>

            <!-- Statistic Content -->
                        <span class="mws-stat-content">
                            <span class="mws-stat-title">Prêts de la semaine</span>
                            <span class="mws-stat-value up">{{ totalPrets }}</span>
                        </span>
        </a>

        <a class="mws-stat" href="#">
            <!-- Statistic Icon (edit to change icon) -->
            <span class="mws-stat-icon icol32-user"></span>

            <!-- Statistic Content -->
                        <span class="mws-stat-content">
                            <span class="mws-stat-title">Membres</span>
                            <span class="mws-stat-value">{{ totalMembres }}</span>
                        </span>
        </a>

        <a class="mws-stat" href="#">
            <!-- Statistic Icon (edit to change icon) -->
            <span class="mws-stat-icon icol32-tag-blue"></span>

            <!-- Statistic Content -->
                        <span class="mws-stat-content">
                            <span class="mws-stat-title">Categories</span>
                            <span class="mws-stat-value">{{ totalCategories }}</span>
                        </span>
        </a>


    </div>
{% endblock %}

{% block content %}

{% embed "@SheikhuLibrary/Embed/grid.html.twig" with { size: 5, padding:false} %}
    {% block title "Statistiques de prets" %}
    {% block grid_content %}
        <canvas id="chart"></canvas>
    {% endblock %}
{% endembed %}

{% embed "@SheikhuLibrary/Embed/grid.html.twig" with { size: 3} %}
    {% block title "Profil" %}
    {% block grid_content %}
        <ul class="mws-summary clearfix">

            <li>
                <span class="key">Nom complet</span>
                    <span class="val">
                        <span class="text-nowrap">{{ app.user.fullName }}</span>
                    </span>
            </li>

            <li>
                <span class="key">Téléphone</span>
                    <span class="val">
                        <span class="text-nowrap">{{ app.user.telephone }}</span>
                    </span>
            </li>
            <li>
                <span class="key">Email</span>
                    <span class="val">

                            <span class="text-nowrap">{{ app.user.email }}</span>

                    </span>
            </li>
            <li>
                    <span class="key">
                        <i class="icon-key"></i> Dernière connexion
                    </span>
                    <span class="val">
                        <span class="text-nowrap">{{ app.user.lastLogin | date('d m Y, h:i:s') }}</span>
                    </span>
            </li>
        </ul>
    {% endblock %}
{% endembed %}

{% endblock %}

{% block scripts %}
{{ parent() }}
    <script>
        $(function(){

            Chart.defaults.global.responsive = true;
            Chart.defaults.global.scaleOverride = true;


            var data = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [

                    {
                        label: "My Second dataset",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            };
            var ctx = $("#chart").get(0).getContext("2d");
            // This will get the first returned node in the jQuery collection.
            var chart = new Chart(ctx);
            chart.Line(data, {
                scaleSteps: 5,
                // Number - The value jump in the hard coded scale
                scaleStepWidth: 20,
                // Number - The scale starting value
                scaleStartValue: 0,
                maintainAspectRatio: true,
                showScale: true
            });
        });
    </script>
{% endblock %}