{% extends 'SheikhuLibraryBundle::layout.html.twig' %}

{% set form = edit_form %}
{% block content -%}
    {% embed "@SheikhuLibrary/Embed/grid.html.twig" with { size: 8, title: "Livre creation" } %}

        {% block grid_content %}
            {{ form_start(form) }}
            <div class="mws-form-inline">
                {{ macros.render_form(form, ['submit']) }}

            </div>

            <div class="mws-button-row">
                {{ form_widget(form.submit, {attr: {class: 'btn btn-success'}}) }}
                {{ macros.btn_link_to('Retour à la liste', 'livres', {}, {'class': 'btn btn-info'}) }}
            </div>
            {{ form_end(form) }}
        {% endblock %}

        {% block toolbar_bottom %}
            <div class="mws-panel-toolbar">
                <div class="btn-group dropup">

                    {{ form_start(delete_form) }}
                    {{ form_row(delete_form.submit, {'attr': {class: 'btn-danger'}}) }}
                    {{ form_end(delete_form) }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}
