{% extends 'SheikhuLibraryBundle::layout.html.twig' %}

{% block content -%}
    <h1>Livre list</h1>

    <table class=" mws-table records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Isbn</th>
                <th>Titre</th>
                <th>Synopsis</th>
                <th>Dateparution</th>
                <th>Dateacquis</th>
                <th>Statut</th>
                <th>Nombredisponible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('livres_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.isbn }}</td>
                <td>{{ entity.titre }}</td>
                <td>{{ entity.synopsis }}</td>
                <td>{% if entity.dateParution %}{{ entity.dateParution|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateAcquis %}{{ entity.dateAcquis|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.statut }}</td>
                <td>{{ entity.nombreDisponible }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('livres_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('livres_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('livres_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
