{% extends '@SheikhuLibrary/layout.html.twig' %}

{% block content -%}
    {% embed "@SheikhuLibrary/Embed/grid.html.twig" %}
        {% block title %}{{ entity.titre }}{% endblock %}
        {% block grid_content %}
            <ul class="mws-summary clearfix">
                <li>
                    <span class="key">ISBN</span>
                <span class="val">
                    <span class="text-nowrap">
                        <span class="label label-success">{{ entity.isbn }}</span>
                    </span>
                </span>
                </li>
                <li>
                    <span class="key">Titre</span>
                <span class="val">
                    <span class="text-nowrap">{{ entity.titre }}</span>
                </span>
                </li>
                <li>
                    <span class="key">Date de parution</span>
                <span class="val">
                    <span class="text-nowrap"> {{ entity.dateParution | date('d m Y') }}</span>
                </span>
                </li>
                <li>
                    <span class="key">Date d'aquisition</span>
                <span class="val">
                    <span class="text-nowrap">{{ entity.dateAcquis | date('d m Y') }}</span>
                </span>
                </li>
                <li>
                    <span class="key">Nombre d'exemplaires</span>
                <span class="val">
                        <span class="text-nowrap">
                        <span class="label label-info">{{ entity.exemplaires | length }}</span>
                        </span>
                </span>
                </li>
            </ul>

        {% endblock %}
    {% endembed %}
{% endblock %}
